@charset "UTF-8";

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 50px);
    height: 300px;
    gap: 10px;
}

.item-2, .item-3{
    grid-row: span 2;
}

.item-5{
    grid-column: span 2;
}

.start{
    align-content: start;
}

.end{
    align-content: end;
}

.center{
    align-content: center;
}

.stretch{
    grid-template-columns: auto;
    align-content: stretch;
}

.space-around{
    align-content: space-around;
}

.space-between{
    align-content: space-between;
}

.space-evenly{
    align-content: space-evenly;
}


/* Estilos gerais */
*{
    font-family: monospace;
    font-weight: normal;
}

.grid{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.089);
}

.item{
    background-color: tomato;
    text-align: center;
    font-size: 1.5em;
}

h1{
    text-align: center;
}