@charset "UTF-8";

.grid{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}
.item-2{
    grid-row: span 2;
}
.item-3{
    grid-row: span 2;
}
.item-5{
    grid-column: span 2;
}

.start .item-2{
    align-self: start;
}
.start .item-5{
    align-self: start;
}

.end .item-2{
    align-self: end;
}
.end .item-5{
    align-self: end;
}
    
.center .item-2{
    align-self: center;
}
.center .item-5{
    align-self: center;
}


.stretch{
    align-items: start;
}
.stretch .item-2{
    align-self: stretch;
}
.stretch .item-5{
    align-self: stretch;
}

/* Estilos gerais */
*{
    font-family: monospace;
    font-weight: normal;
}

.grid{
    max-width: 400px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.item{
    background-color: tomato;
    font-size: 1.5em;
    text-align: center;
    margin: 3px;
}

h1{
    text-align: center;
}