@charset "UTF-8";

.grid{
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 50px;
}

.grid-row-1 .item-1{
    grid-row: 2;
}
.grid-row-1 .item-5{
    grid-row: 1;
}

.grid-row-2 .item-1{
    grid-row: 1 / 4;
}
.grid-row-2 .item-5{
    grid-row: span 3;
}
.grid-row-2 .item-6{
    grid-row: span 2;
}

.grid-row-3 .item-2{
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-row-3 .item-4{
    grid-row-start: 1;
    grid-row-end: 3;
}
.grid-row-3 .item-1{
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid-row-4{
    grid-template-rows: [row1] 1fr 1fr [row2] 1fr [row3];
}
.grid-row-4 .item-2{
    grid-row: row1 / row4;
}
.grid-row-4 .item-4{
    grid-row: row1 / row3;
}

.grid-row-5{
    grid-template-areas: 
    "header header header"
    "sidenav content ads"
    "sidenav footer footer"
    ;
}
.grid-row-5 .item-1{
    grid-row: header / header;
    grid-column: span 3;
}
.grid-row-5 .item-2{
    grid-row: sidenav;
}
.grid-row-5 .item-3{
    grid-column: 2;
    grid-row: content / content;
}
.grid-row-5 .item-4{
    grid-column: 3;
    grid-row: ads;
}
.grid-row-5 .item-5{
    grid-row: footer;
    grid-column: span 2;
}

/* Estilos gerais */
*{
    font-family: monospace;
    font-weight: normal;
}

.grid{
    max-width: 400px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.item{
    background-color: tomato;
    font-size: 1.5em;
    text-align: center;
    margin: 3px;
}

h1{
    text-align: center;
}