@charset "UTF-8";

.grid{
    display: grid;
    gap: 20px;
}

.grid-1{
    grid: 100px / 1fr 1fr 1fr;
}

.grid-2{
    grid: 100px / auto-flow 100px 50px
}

.grid-3{
    grid: 
    "logo nav nav" 50px 
    "sidenav content advert" 150px 
    "sidenav footer footer" 50px
    / 100px 1fr 50px
    ;
}
.logo{
    grid-area: logo;
}

.nav{
    grid-area: nav;
}

.content{
    grid-area: content;
}

.sidenav{
    grid-area: sidenav;
}

.advert{
    grid-area: advert;
}

.footer{
    grid-area: footer;
}

/* Estilos gerais */
*{
    font-family: monospace;
    font-weight: normal;
}

.grid{
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.089);
}

.item{
    background-color: tomato;
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
}

h1{
    text-align: center;
}