@charset "UTF-8";

.grid{
    display: grid;
}

.grid-template{
    grid-template-columns: 100px 1fr 50px;
    grid-template-rows: 50px 150px 100px;

    grid-template-areas: 
    "logo nav nav"
    "sidenav content advert"
    "sidenav footer footer"
    ;
}

.logo{
    grid-area: footer;
}

.nav{
    grid-area: nav;
}

.content{
    grid-area: content;
}

.sidenav{
    grid-area: sidenav;
}

.advert{
    grid-area: advert;
}

.footer{
    grid-area: logo;    
}

.grid-gap{
    gap: 20px;
}
.grid-column-gap{
    row-gap: 1px;
    column-gap:20px;    
}

.grid-row-gap{
    row-gap: 20px;
    column-gap: 1px;
}

.margin{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 30px;
}

/* Estilos gerais */
*{
    font-family: monospace;
    font-weight: normal;
}

.grid{
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.089);
}

.item{
    background-color: tomato;
    text-align: center;
    font-size: 1.5em;
}

h1{
    text-align: center;
}